@import "colors/current_theme.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: 900;
  min-height: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: @base;
  color: @overlay1;
}

#workspaces {
  background: @accent;
  padding: 0 8px;
  margin: 6px 0 6px 4px;
  border-radius: 6px 0 0 6px;
}

#workspaces button {
  background: transparent;
  color: @overlay1;
  padding: 0 8px;
  min-width: 28px;
  transition: all 0.15s ease;
}

#workspaces button:hover {
  background: @overlay1;
  color: @accent;
}

#workspaces button.active {
  background: @overlay1;
  color: @accent;
  font-weight: bold;
}

#workspaces button.urgent {
  background: @red;
  color: @base;
}

#custom-hyprpicker {
  font-size: 20px;
  color: @base;
  background: @accent;
  padding: 0 10px;
  margin: 6px 0 6px 0px;
}

#custom-arrow-workspaces {
  color: @accent;
  background: @base;
  font-size: 18px;
  margin: 0px 0;
}

#custom-arrow-clock-left {
  color: @overlay1;
  background: transparent;
  font-size: 18px;
  margin: 4px 0;
}

#custom-arrow-clock-right {
  color: @overlay1;
  background: transparent;
  font-size: 18px;
  margin: 4px 0;
}

#clock {
  background: @overlay1;
  color: @accent;
  padding: 0 16px;
  margin: 4px 0;
  border-radius: 0;
  font-weight: bold;
}

#custom-arrow-tray {
  color: @overlay1;
  background: @base;
  font-size: 18px;
  margin: 0px 0;
}

#tray {
  background: @overlay1;
  padding: 0 10px;
  margin: 4px 0;
  color: @overlay2;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background: @red;
}

#custom-arrow-audio {
  color: @accent;
  background: @overlay;
  font-size: 18px;
  margin: 4px 0;
}

#pulseaudio {
  background: @accent;
  color: @base;
  padding: 0 12px;
  margin: 6px 0 6px 0px;
}

#pulseaudio.muted {
  color: @overlay2;
}

#battery {
  background: @overlay;
  color: @gold;
  padding: 0 12px;
  margin: 4px 4px 4px 0;
  border-radius: 0 6px 6px 0;
}

#battery.charging {
  color: @overlay3;
}

#battery.warning:not(.charging) {
  color: @gold;
}

#battery.critical:not(.charging) {
  color: @red;
}
